<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./partial/header %>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <% if(post.image){%>
          <img
            alt="ecommerce"
            class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
            src="<%= post.image %>"
          />
          <%}else{%>
          <img
            alt="ecommerce"
            class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
            src="/images/404.png"
          />
          <%}%>
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">
              <%=post.author.name %>
            </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              <%=post.title %>
            </h1>
            <div class="flex mb-4">
              <span class="flex items-center">
                <% if(reactStatus.length == 0){%>
                <button
                  onclick="giveLike('like')"
                  class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                >
                  <svg
                    fill="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                    ></path>
                  </svg>
                </button>
                <%}else{%>
                <button
                  onclick="giveLike('unlike')"
                  class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                >
                  <svg
                    fill="#ff0000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                    ></path>
                  </svg>
                </button>
                <%}%>
              </span>
              <span
                class="flex ml-3 py-2 border-l-2 border-gray-200 space-x-2s"
              >
                <% if(favStatus.length == 0){%>
                <button
                  class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                  onclick="giveFav('fav')"
                >
                  <svg
                    fill="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M3.75 4.5a.75.75 0 01.75-.75h.75c8.284 0 15 6.716 15 15v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75C18 11.708 12.292 6 5.25 6H4.5a.75.75 0 01-.75-.75V4.5zm0 6.75a.75.75 0 01.75-.75h.75a8.25 8.25 0 018.25 8.25v.75a.75.75 0 01-.75.75H12a.75.75 0 01-.75-.75v-.75a6 6 0 00-6-6H4.5a.75.75 0 01-.75-.75v-.75zm0 7.5a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                    />
                  </svg>
                </button>
                <%}else{%>
                <button
                  class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                  onclick="giveFav('unfav')"
                >
                  <svg
                    fill="#ff0000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M3.75 4.5a.75.75 0 01.75-.75h.75c8.284 0 15 6.716 15 15v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75C18 11.708 12.292 6 5.25 6H4.5a.75.75 0 01-.75-.75V4.5zm0 6.75a.75.75 0 01.75-.75h.75a8.25 8.25 0 018.25 8.25v.75a.75.75 0 01-.75.75H12a.75.75 0 01-.75-.75v-.75a6 6 0 00-6-6H4.5a.75.75 0 01-.75-.75v-.75zm0 7.5a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                    />
                  </svg>
                </button>
                <%}%>
              </span>
            </div>
            <p class="leading-relaxed"><%= post.content %></p>

            <div class="border-t-2 my-2 py-2">
              <% if(locals.user) {%>
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="comemnt" class="leading-7 text-sm text-gray-600"
                    >Comment</label
                  >
                  <textarea
                    id="comment"
                    name="comment"
                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                  ></textarea>
                </div>
              </div>
              <div class="p-2 w-full">
                <button
                  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                  onclick="giveComment()"
                >
                  Comment
                </button>
              </div>
              <%}else{%>
              <span
                class="title-font font-medium text-xl text-gray-900 text-center"
              >
                Login for more action
              </span>
              <a
                href="/login"
                class="ml-5 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded mx-auto"
              >
                Login
              </a>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <% for(var i = 0; i < comments.length; i++){%>
      <div class="container px-5 py-2 mx-auto border-b-2">
        <div
          class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
        >
          <div
            class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="sm:w-16 sm:h-16 w-10 h-10"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
              <%= comments[i].commenter.name %>
            </h2>
            <p class="leading-relaxed text-base"><%= comments[i].comment %></p>
          </div>
        </div>
        <% if(comments[i].reply){%>
        <div
          class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
        >
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
              <%= post.author.name %>
            </h2>
            <p class="leading-relaxed text-base"><%= comments[i].reply %></p>
          </div>
          <div
            class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="sm:w-16 sm:h-16 w-10 h-10"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
        </div>
        <%}%>
      </div>
      <%}%>
    </section>
  </body>
  <script src="/javascripts/jquery-3.7.0.min.js"></script>
  <script>
    function giveLike(opt) {
      $.ajax("/users/givelike", {
        method: "POST",
        data: { id: "<%= post._id %>", option: opt },
        success: function (result) {
          if (result.status) {
            location.reload();
          } else {
            alert("Alert something was wrong");
          }
        },
      });
    }
    function giveComment() {
      if ($("#comment").val() == "") {
        alert("Please comment somethings");
        $("#comment").focus();
      } else {
        $.ajax("/users/givecomment", {
          method: "POST",
          data: {
            pid: "<%= post._id %>",
            comment: $("#comment").val(),
            aid: "<%=post.author._id %>",
          },
          success: function (result) {
            if (result.status) {
              location.reload();
            } else {
              alert("Alert something was wrong");
            }
          },
        });
      }
    }
    function giveFav(opt) {
      $.ajax("/users/givefav", {
        method: "POST",
        data: { aid: "<%= post.author._id %>", option: opt },
        success: function (result) {
          if (result.status) {
            location.reload();
          } else {
            alert("Alert something was wrong");
          }
        },
      });
    }
  </script>
</html>
